<div class="form-group row">
    <label class="col-sm-3 col-form-label">Loc</label>
    <div class="col-sm-4">
        <input type="number" step="any" name="data_loclat" class="form-control" placeholder="LAT">
    </div>
    <div class="col-sm-4">
        <input type="number" step="any" name="data_loclong" class="form-control" placeholder="LONG">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Address</label>
    <div class="col-sm-8">
        <input type="text" name="data_address" class="form-control" placeholder="string">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Value</label>
    <div class="col-sm-8">
        <input type="number" step="any" name="data_value" class="form-control" placeholder="int???">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Geo</label>
    <div class="col-sm-8">
        <input type="text" name="data_geo" class="form-control" placeholder="excuseme wtf?">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Levels</label>
    <div class="col-sm-8">
        <input type="number" step="1" name="data_levels" class="form-control" placeholder="int">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Type</label>
    <div class="col-sm-8">
        <input type="text" name="data_type" class="form-control" placeholder="string">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Size</label>
    <div class="col-sm-8">
        <input type="number" step="any" name="data_size" class="form-control" placeholder="mts2">
    </div>
</div>